{% extends "base.html" %}
{% load static %}
{% block stylesheets %}
{{ block.super }}

<link rel="stylesheet" href="/static/cvss-v4-calculator-test/styles.css?v=6">
<link rel="stylesheet" href="/static/cvss-v4-calculator-test/spectre.css">

{% endblock stylesheets %}

{% block content %}

<script>
    var initialCvssVector = "{{ form.cvss_vector.value }}";
    // initialCvssVector = initialCvssVector.replace("vector value: ", " ")
</script>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>New Template</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Template</a></li>
                </ol>
            </div>
        </div>
    </div>
</section>

<!-- --------------------------------------------------------------------------------------------------- -->

<section class="content">

    <div class="container-fluid">

        <div class="row">

            <div class="col-md-12">

                <div class="card card-outline card-danger">

                    <div class="card-header">
                        <h3 class="card-title">Add Template</h3>
                    </div>
                
                    
                    <form role="form" method="post" enctype="multipart/form-data"> 

                        {%csrf_token%}

                        <div class="card-body">
                            
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Title</label>
                                <div class="col-md-10 col-sm-10 col-xs-12">
                                    {{ form.title }}
                                </div>
                            </div>
                            

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">OWASP</label>
                                <div class="col-md-10 col-sm-10 col-xs-12">
                                    {{ form.owasp }}
                                </div>
                            </div>

                            <!-- CVSS CALCULATOR -->
                        <!--
                        Copyright (c) 2023 FIRST.ORG, Inc., Red Hat, and contributors

                        Redistribution and use in source and binary forms, with or without
                        modification, are permitted provided that the following conditions are met:

                        1. Redistributions of source code must retain the above copyright notice, this
                        list of conditions and the following disclaimer.

                        2. Redistributions in binary form must reproduce the above copyright notice,
                        this list of conditions and the following disclaimer in the documentation
                        and/or other materials provided with the distribution.

                        THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
                        AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
                        IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
                        DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
                        FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
                        DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
                        SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
                        CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
                        OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
                        OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
                        -->


                        {% verbatim %}
                        <div id="appCVSS">  

                        <div class="form-group row">
                            {% endverbatim %}
                            <label class="col-sm-2 col-form-label">Severity</label>
                            <div class="col-md-10 col-sm-10 col-xs-12">
                                {{ form.severity }}
                            </div>
                            {% verbatim %}
                        </div>

                        <div class="form-group row">
                            {% endverbatim %}
                            <label class="col-sm-2 col-form-label">CVSS Vector</label>
                            <div class="col-md-10 col-sm-10 col-xs-12">
                                {{ form.cvss_vector }}
                            </div>
                        
                            {% verbatim %}
                        </div>


                        <div class="form-group row">
                            {% endverbatim %}
                            <label class="col-sm-2 col-form-label">CVSS Score</label>
                            <div class="col-md-10 col-sm-10 col-xs-12">
                            {{ form.cvss_score }}
                            </div>
                            {% verbatim %}
                        </div>

                        
                        <!-- needed to update the values -->
                        <p style="color: transparent;">{{ vector }} {{ score }} {{ qualScore }} {{ macroVector }}</p>
                        
                        <div class="form-group row">
                            {% endverbatim %}
                            <label class="col-sm-2 col-form-label">CVSS v4.0 alculator</label>
                            {% verbatim %}
                            
                            <div class="col-md-10 col-sm-10 col-xs-12" :style="{'margin-top': header_height + 10 + 'px'}">
                                <div class="column col-12 col-xl-12">
                                    <div class="metric-type" v-for="(metricTypeData, metricType) in cvssConfigData">
                                        <h4 class="text-center">
                                            {{ metricType }}
                                            </span>
                                        </h4>

                                        
                                        <div class="metric-group" v-for="(metricGroupData, metricGroup) in metricTypeData.metric_groups">
                                            <h5 class="text-center">{{ metricGroup }}</h5>
                                            <div>

                                                <div class="" v-for="(metricData, metric) in metricGroupData">

                                                    <!-- Multiple ways of rendering metrics based on screen size -->
                                                    <div class="columns hide-xl mb-2">
                                                        <div class="col-3 text-right pr-2" v-if="metricData.tooltip"><abbr :title="metricData.tooltip">{{ metric }}</abbr>:</div>
                                                        <div class="col-3 text-right pr-2" v-else>{{metric}}:</div>

                                                        <div class="col-9 columns">
                                                            <div class="col-2 pl-2" v-for="(optionData, option) in metricData.options">
                                                                <span :class="buttonClass(cvssSelected[metricData.short] == optionData.value)" v-if="option"
                                                                        @click="onButton(metricData.short, optionData.value)">
                                                                    <abbr v-if="optionData.tooltip" :title="optionData.tooltip">{{ option }}</abbr>
                                                                    <span v-else>{{ option }}</span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="show-xl hide-lg">
                                                        <div class="mb-1" v-if="metricData.tooltip"><abbr :title="metricData.tooltip">{{ metric }}</abbr>:</div>
                                                        <div class="mb-1" v-else>{{metric}}:</div>

                                                        <div class="columns">
                                                            <div class="col-2 pl-2" v-for="(optionData, option) in metricData.options">
                                                                <span :class="buttonClass(cvssSelected[metricData.short] == optionData.value)" v-if="option"
                                                                        @click="onButton(metricData.short, optionData.value)">
                                                                    <abbr v-if="optionData.tooltip" :title="optionData.tooltip">{{ option }}</abbr>
                                                                    <span v-else>{{ option }}</span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="show-lg hide-md">
                                                        <div class="mb-1" v-if="metricData.tooltip"><abbr :title="metricData.tooltip">{{ metric }}</abbr>:</div>
                                                        <div class="mb-1" v-else>{{metric}}:</div>

                                                        <div class="columns pl-2">
                                                            <div class="col-4 pb-2 pr-2" v-for="(optionData, option) in metricData.options">
                                                                <span :class="buttonClass(cvssSelected[metricData.short] == optionData.value)" v-if="option"
                                                                        @click="onButton(metricData.short, optionData.value)">
                                                                    <abbr v-if="optionData.tooltip" :title="optionData.tooltip">{{ option }}</abbr>
                                                                    <span v-else>{{ option }}</span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="show-md hide-sm">
                                                        <div class="mb-1" v-if="metricData.tooltip"><abbr :title="metricData.tooltip">{{ metric }}</abbr>:</div>
                                                        <div class="mb-1" v-else>{{metric}}:</div>

                                                        <div class="columns pl-2">
                                                            <div class="col-6 pb-2 pr-2" v-for="(optionData, option) in metricData.options">
                                                                <span :class="buttonClass(cvssSelected[metricData.short] == optionData.value)" v-if="option"
                                                                        @click="onButton(metricData.short, optionData.value)">
                                                                    <abbr v-if="optionData.tooltip" :title="optionData.tooltip">{{ option }}</abbr>
                                                                    <span v-else>{{ option }}</span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="show-sm">
                                                        <div class="mb-1" v-if="metricData.tooltip"><abbr :title="metricData.tooltip">{{ metric }}</abbr>:</div>
                                                        <div class="mb-1" v-else>{{metric}}:</div>

                                                        <div class="columns pl-2">
                                                            <div class="col-12 pb-2 pr-2" v-for="(optionData, option) in metricData.options">
                                                                <span :class="buttonClass(cvssSelected[metricData.short] == optionData.value, true)" v-if="option"
                                                                        @click="onButton(metricData.short, optionData.value)">
                                                                    <abbr v-if="optionData.tooltip" :title="optionData.tooltip">{{ option }}</abbr>
                                                                    <span v-else>{{ option }}</span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>

                        {% endverbatim %}


                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Description</label>
                                <div class="col-md-10 col-sm-10 col-xs-12">
                                    {{ form.description }}
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Location</label>
                                <div class="col-md-10 col-sm-10 col-xs-12">
                                    {{ form.location }}
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Proof of Concept</label>
                                <div class="col-md-10 col-sm-10 col-xs-12">
                                    {{ form.poc }}
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Impact</label>
                                <div class="col-md-10 col-sm-10 col-xs-12">
                                    {{ form.impact }}
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Recommendation</label>
                                <div class="col-md-10 col-sm-10 col-xs-12">
                                    {{ form.recommendation }}
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">References</label>
                                <div class="col-md-10 col-sm-10 col-xs-12">
                                    {{ form.references }}
                                </div>
                            </div>

                            <div class="card-footer">
                                <button type="submit" class="btn btn-danger">Save and finish</button>
                            </div>

                        </div>
                    </form> 
                    
                </div>

            </div>

        </div>

    </div>  

</section>


{% endblock content %}

{% block javascripts %}
  {{ block.super}}


<script src="/static/cvss-v4-calculator-test/vue.global.prod.js"></script>
<!-- <script src="https://unpkg.com/vue@3.2.45/dist/vue.global.prod.js"></script> -->
<script src="/static/cvss-v4-calculator-test/cvss_config.js?v=2"></script>
<script src="/static/cvss-v4-calculator-test/cvss_details.js?v=1"></script>
<script src="/static/cvss-v4-calculator-test/cvss_lookup.js?v=5"></script>
<script src="/static/cvss-v4-calculator-test/max_composed.js?v=1"></script>
<script src="/static/cvss-v4-calculator-test/max_severity.js?v=1"></script>
<script src="/static/cvss-v4-calculator-test/metrics.js?v=1"></script>
<script src="/static/cvss-v4-calculator-test/app.js?v=7"></script>

{% endblock javascripts %}