{% extends "base.html" %}

{% block content %}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>OWASP List</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">OWASP</li>
                </ol>
            </div>
        </div>
    </div>
</section>


<section  class="content">
    <div class="container-fluid">
        <div class="card card card-outline card-primary">

            <div class="card-header">
                <h3 class="card-title">OWASPs List</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
        
            <div class="card-body">
                <table id="owaspList" class="table table-bordered table-hover">
        
                    <thead>
                        <tr>
                            <th style="width: 15%" class="text-center">Title</th>
                            <th style="width: 75%" class="text-center">Description</th>
                            <th style="width: 10%" class="text-center">Actions</th>
                        </tr>
                    </thead>
        
                    <tbody>
        
                        {% for owasp in owasps %}
                        
                            <tr>
                                <td>
                                    <span class="pull-right badge bg-blue"></span> {{ owasp.owasp_full_id }} - {{ owasp.owasp_name }}
                                </td>
        
                                <td>
                                    <span class="pull-right badge bg-blue"></span> {{ owasp.owasp_description | safe}}
                                </td>
        
                                <td class="project-actions text-center">
                                    <a href="{% url 'owasp_edit' owasp.id %}"><button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-edit"></i>Edit</button></a>
                                    <a href="{% url 'owasp_delete' owasp.id %}?next={{ request.path }}"><button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-edit"></i>Delete</button></a>
                                </td>
        
                            </tr>
                        {% endfor %}
        
                    </tbody>
        
                </table>
            </div>
        </div>

    </div>
</section>


{% endblock content %}

{% block javascripts %}
  {{ block.super }}

<script>
    $(document).ready(function() {
    $("#owaspList").DataTable({
        "paging": true,
        "searching": true,
        "responsive": true,
        "lengthChange": false,
        "autoWidth": false
    });
});

</script>

{% endblock javascripts %}




