{% extends "base.html" %}
{% load static %}
{% load martortags %}
{% block content %}

<section class="content-header">
  <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="speakable">{{finding_query.title}} Appendix</h1>
        </div>
        <div class="col-sm-6 speakable">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'report_view' finding_query.report.id %}">{{ finding_query.report.title }}</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'view_finding' finding_query.id %}">{{ finding_query.title }}</a></li>
                    <li class="breadcrumb-item active">Appendix</li>
          </ol>
        </div>
      </div>
  </div>
</section>

<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card card-outline card-success">
                  <div class="card-header speakable">
                    <h3 class="card-title">
                      <b>Title</b>
                    </h3>
      
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                          <i class="fas fa-minus"></i>
                      </button>
                    </div>
                  </div>
                  <div class="card-body speakable">
      
                    {{ appendix_query.title | safe_markdown }}
      
                  </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card card-outline card-success">
                  <div class="card-header speakable">
                    <h3 class="card-title">
                      <b>Description</b>
                    </h3>
      
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                          <i class="fas fa-minus"></i>
                      </button>
                    </div>
                  </div>
                  <div class="card-body speakable">
      
                    {{ appendix_query.description | safe_markdown }}
      
                  </div>
                </div>
            </div>
        </div>


    </div>
</section>

{% endblock content %}