{% extends "base.html" %}

{% block content %}

<section class="content-header">
  <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="speakable">Customer</h1>
        </div>
        <div class="col-sm-6 speakable">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'customer_list' %}">Customers</a></li>
            <li class="breadcrumb-item active">Add or Edit Customer</li>
          </ol>
        </div>
      </div>
  </div>
</section>

<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">

            <div class="card card-outline card-primary">
              <div class="card-header speakable">
                <h3 class="card-title">Customer details</h3>
              </div>
              
              <form role="form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-body">
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label speakable">Customer Name</label>
                      <div class="col-md-10 col-sm-10 col-xs-12 speakable">
                        {{ form.name }}
                      </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label speakable">Contact</label>
                      <div class="col-md-10 col-sm-10 col-xs-12 speakable">
                        {{ form.contact }}
                      </div>
                  </div>
                  
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label speakable">Customer Description</label>
                    <div class="col-md-10 col-sm-10 col-xs-12 speakable">
                      {{ form.description }}
                    </div>
                  </div>
   
                </div>

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Save Customer</button>
                </div>
              </form>
            </div>

        </div>
      </div>
    </div>
</section>


{% endblock content %}